*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}

h1 {
  color: #E23571;
  text-align: center;
  padding: 30px;
}
.debug{

  background-color: rgba(255, 80, 70, 0.50);
  border: 1px solid black;
}

.conteiner {
  max-width: 1200px;
  height: 400px;
  margin: 20px auto;
  background-color: aqua;

}
.text {
  text-align: center;
}

.row1 {
  background-color: yellow;
  height: 100px;
}

.cont-info {
  height: 90px;
  width: 300px;
  background-color: black;
}


